
.jumbotron {
  background-color: #383859;
}
p {
  font-family: 'Arial', sans-serif;
  background-color: rgb(107, 32, 255);
  color: #00ff73;
  cursor: default;
}

body {
    font-family: Verdana, Tahoma, sans-serif; 
    background: #383859;  
    color: #00ff66;                  
    margin: 0;                
    padding: 0;                  
  }

.navigation {
  background-color: #252525; 
  border: none; 
  border-radius: 0; 
}

.navigation .navbar-brand,
.navigation .nav > li > a {
  color: #ffffff; 
  transition: color 0.3s; 
  text-decoration: none; 
  cursor: pointer; 
}

.navigation .navbar-brand:hover,
.navigation .nav > li > a:hover {
  color: rgb(107, 32, 255); 
  border-bottom: 2px solid rgb(107, 32, 255); 
}

.white-text {
  color: white;
}




