body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 20px;
}

textarea {
    width: 80%;
    margin-bottom: 10px;
    border-radius: 0%;
}

button {
    padding: 10px;
    background-color: rgb(107, 32, 255);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 7%;
}

button:hover {
    background-color: #00fb9b;
}

button+br {
    display: block;
    content: " ";
    margin-bottom: 20px;
}