body {
    font-family: sans-serif;
}
#instructions {
    background-color: rgb(155, 104, 255);
    padding: 6px;
    margin: 6px;
}
#orderForm {
    width: 75%;
    margin: 20px auto;
}
#receipt {
    background-color: #9f4a00;
    color: rgb(77, 255, 0);
    padding: 6px;
}
#placeOrder {
    cursor: pointer;
}
